.Modal {
  border:2px solid rgb(255, 255, 255);
    background-color: #485549;
    border-radius: 5px;
    padding: 10px;
    width: 175px;
    position: absolute;
    margin-top: 68px;
    margin-left: 15px;
    text-align: center;
    row-gap: 5px;
    display: flex;
    flex-direction: column;
    }
    
    .ModalOption { 
    cursor: pointer;
    border:1px solid orange;
    width: 93%;
    border-radius: 5px;
    color: white;
    padding: 5px;
    }
    
    @media (min-width: 790px) {
        .Modal {
          display:none
        }
        
      
    
    }